

  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="end">
        <ion-button (click)="cerrarSesionGmail()" >
          <ion-icon name="log-out-sharp"></ion-icon>
         
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Reservados</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button color="success"  routerLink="/filtros" >
    <ion-icon name="albums-sharp"></ion-icon>
   Libros
  </ion-button>
  <ion-content class="ion-padding">

  <div class="fondo">
  <ion-card  class="card-item" *ngFor="let Reserva of libros1">
   
  
    <ion-card-header>
      <ion-card-title style="text-align: center;" >{{Reserva.titulo}}</ion-card-title>
    </ion-card-header>
    <img  class="avatar" src={{Reserva.foto}} alt="ion">
    <ion-card-content>
      <ion-card-subtitle><b>Codigo ISBN: </b>{{Reserva.codigoISBN}}</ion-card-subtitle>
      <ion-card-subtitle><b>Autor: </b>{{Reserva.autor}}</ion-card-subtitle>
      <ion-card-subtitle><b>Editorial : </b>: {{Reserva.editorial}} </ion-card-subtitle>
      <ion-card-subtitle><b>Categoria  </b>{{Reserva.categoria}}</ion-card-subtitle>
      <ion-card-subtitle><b>Cantidad Reserada: </b>{{Reserva.cantidadR}}</ion-card-subtitle>
      
    </ion-card-content>
    <ion-footer>
     <h3>Cliente</h3> 
     <ion-label><b>Nombre </b>{{Reserva.name}}</ion-label>
     <br>
     <ion-label><b>Email </b>{{Reserva.email}}</ion-label>
    </ion-footer>
  </ion-card>
</div>
</ion-content>

